@font-face
    font-family: 'Futura PT'
    src: url('/fonts/FuturaPT-Book.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Futura PT'
    src: url('/fonts/FuturaPT-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Source Sans 3'
    src: url('/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype')
    font-weight: 100 900
    font-style: normal
    font-display: swap
