@use 'fonts'
@use 'reset'

body
    font-family: $font-family-base
    font-weight: $font-weight-base
    font-size: $font-size-base
    background-color: $color-bg

h1, h2, h3, h4, h5, h6
    font-family: 'Source Sans 3', sans-serif
    font-weight: semibold

